version: 2.1

orbs:
  node: circleci/node@5.0.2

executors:
  docker-publisher:
    environment:
      IMAGE_NAME: geocollections/sarv-edit
      IMAGE_NAME_DEV: geocollections/sarv-edit-dev
    docker:
      - image: cimg/node:lts

jobs:
  deploy_edit2:
    executor: docker-publisher
    steps:
      - run:
          name: Run edit2 script
          command: ssh -o "StrictHostKeyChecking no" -p ${PORT} ${USER}@${ADDRESS} "cd /var/www/edit2/script && . run_docker_image.sh"

  deploy_edit2-dev:
    executor: docker-publisher
    steps:
      - run:
          name: Run edit2 script
          command: ssh -o "StrictHostKeyChecking no" -p ${PORT} ${USER}@${ADDRESS} "cd /var/www/edit2-dev/script && . run_docker_image.sh"

workflows:
  build:
    jobs:
      - deploy_edit2:
          filters:
            branches:
              only: 
                - main
      - deploy_edit2-dev:
          filters:
            branches:
              only: 
                - development
