@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html,
body {
    height: 100%;
}

body {
    font-family: Titillium Web, sans-serif !important;
}



/* Full-screen loading overlay */
.loading-overlay {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1040;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 200% 0;
}

/* Cancel request button style */
.abort-request-overlay {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    text-align: center;
    bottom: 15%;
    padding: 10px 15px;
}



/***************************************
 *** MULTISELECT CUSTOM STYLES START ***
 ***************************************/

.invalid > .multiselect__tags {
    border-color: #dc3545;
}

/*noinspection CssInvalidPseudoSelector*/
.invalid > .multiselect__tags:focus-within {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.valid > .multiselect__tags {
    border-color: #28a745;
}

/*noinspection CssInvalidPseudoSelector*/
.valid > .multiselect__tags:focus-within {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

/*
 * Adds higher z-index to multiselect so no nearby elements can't override it
 * https://github.com/shentao/vue-multiselect/issues/662
 */
.multiselect--active {
    z-index: 10;
}

/***************************************
 ***  MULTISELECT CUSTOM STYLES END  ***
 ***************************************/



/*******************************
 *** DATE CLEAR BUTTON START ***
 *******************************/

/* Not needed anymore, because vuejs-datepicker library was updated */
/*.date-clear-button {*/
/*position: absolute;*/
/*z-index: 5;*/
/*padding: 11px 15px;*/
/*right: 0;*/
/*}*/

.date-clear-button:hover {
    opacity: 0.7;
}

/*******************************
 ***  DATE CLEAR BUTTON END  ***
 *******************************/



/********************************
 *** EDIT IMAGE PREVIEW START ***
 ********************************/

.image-preview {
    max-height: 500px;
    max-width: 100%;
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

@media (max-width: 767px) {
    .image-preview {
        max-height: 500px;
        max-width: 100%;
    }
}

/********************************
 ***  EDIT IMAGE PREVIEW END  ***
 ********************************/
