html,
body {
    height: 100%;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  /*background-color: #f8f9fa;*/
  overflow-x: unset !important; /* Todo: Had to insert it after vuetify  */
}

/* AUTOCOMPLETE MENU */
.v-autocomplete__content {
  z-index: 1500 !important;
}
.v-autocomplete__content .v-list-item__mask {
  color: black !important;
  background: yellow !important;
}


/* Adding white background to vuetify outlined text-fields in add and edit forms */
.add-form .v-text-field--outlined, .edit-form .v-text-field--outlined {
    background-color: #ffffff;
}

/* Vuetify ul override for tabs in edit and add view */
ul.nav.nav-tabs.nav-fill {
  padding-left: 0 !important;
}

/* Vuetify checkbox label margins (bootstrap label override) */
.vuetify-checkbox label {
  margin-bottom: 0;
}

/* Vuetify switch label margins (bootstrap label override) */
.vuetify-switch label {
  margin-bottom: 0;
}

/* Todo: Remove after bootstrap integration Added this after vuetify because buttons get underline */
a:hover {
  text-decoration: none;
}

/* Todo: Remove after bootstrap integration:  Temporary Vuetify override */
.col-xl, .col-xl-auto, .col-xl-12, .col-xl-11, .col-xl-10, .col-xl-9, .col-xl-8, .col-xl-7, .col-xl-6, .col-xl-5, .col-xl-4, .col-xl-3, .col-xl-2, .col-xl-1, .col-lg, .col-lg-auto, .col-lg-12, .col-lg-11, .col-lg-10, .col-lg-9, .col-lg-8, .col-lg-7, .col-lg-6, .col-lg-5, .col-lg-4, .col-lg-3, .col-lg-2, .col-lg-1, .col-md, .col-md-auto, .col-md-12, .col-md-11, .col-md-10, .col-md-9, .col-md-8, .col-md-7, .col-md-6, .col-md-5, .col-md-4, .col-md-3, .col-md-2, .col-md-1, .col-sm, .col-sm-auto, .col-sm-12, .col-sm-11, .col-sm-10, .col-sm-9, .col-sm-8, .col-sm-7, .col-sm-6, .col-sm-5, .col-sm-4, .col-sm-3, .col-sm-2, .col-sm-1, .col, .col-auto, .col-12, .col-11, .col-10, .col-9, .col-8, .col-7, .col-6, .col-5, .col-4, .col-3, .col-2, .col-1 {
  /*padding: 12px;*/
  padding: 0 15px;
}

/* Adding nowrap and non-breaking space to all vuetify sortable table headers START */
th.sortable {
  white-space: nowrap;
}
th.sortable > span:after {
  content: "\00a0";
}
/* Adding nowrap and non-breaking space to all vuetify sortable table headers END */

@media (max-width: 599px) {
  /* Giving mobile padding-right and aligning it to start, otherwise cell text goes into header and header is weirdly in the middle */
  .v-data-table__mobile-row__header {
    padding-right: 15px;
    align-self: start;
  }

  /* Overriding default height which is 48px and instead setting min-height to 48px, fixes vertical overlapping */
  .v-data-table td {
    height: unset;
    min-height: 48px;
  }
}

/* Scrollbar style for drawers START */
/* width */
.v-navigation-drawer__content::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.v-navigation-drawer__content::-webkit-scrollbar-track {
  background: #ECEFF1;
}

/* Handle */
.v-navigation-drawer__content::-webkit-scrollbar-thumb {
  background: #607D8B;
}

/* Handle on hover */
.v-navigation-drawer__content::-webkit-scrollbar-thumb:hover {
  background: #455A64;
}
/* Scrollbar style for drawers END */

/* Scrollbar style for floating settings START */
/* width */
.floating-settings::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.floating-settings::-webkit-scrollbar-track {
  background: #ECEFF1;
}

/* Handle */
.floating-settings::-webkit-scrollbar-thumb {
  background: #90A4AE;
}

/* Handle on hover */
.floating-settings::-webkit-scrollbar-thumb:hover {
  background: #607D8B;
}
/* Scrollbar style for floating settings END */


/*********************
 *** HELPERS START ***
 *********************/

.break-word {
  word-break: break-word;
}

.sarv-link {
  color: #ff5722 !important;
}

.sarv-link:hover {
  opacity: 0.7;
  /*text-decoration: underline;*/
}

/*********************
 ***  HELPERS END  ***
 *********************/


/**************************
 *** RELATED DATA START ***
 **************************/

.related-table {
  font-size: 0.9rem !important;
}
.related-table td, .related-table th {
  padding: 0.25rem 0.4rem !important;
}

.related-table th {
  /*background-color: #ECEFF1;*/
  border: unset;
  border-bottom: unset !important;
}

.related-table th.date-th {
  min-width: 100px!important;
}

.related-table th.btn-th {
  min-width: 5.7em!important;
  width: 5.7em!important;
}

.related-input-data td{
  padding: 0.2em!important;
}

.related-input-data .mx-datepicker{
  font-size: 0.9rem !important;
  font-weight: lighter;
}

.related-input-data .mx-calendar-icon {
  height: auto!important;
}

.related-input-data .mx-calendar .mx-calendar-panel-date {
  z-index: 1000000!important;
}

.allow-remove {
  background-color: rgba(220, 53, 69, 0.2) !important;
}

.edit-mode {
  background-color: rgba(40, 167, 69, 0.2) !important;
}

/**************************
 ***  RELATED DATA END  ***
 **************************/



.custom > .multislelect__input {
  height: calc(1.5em + 0.5rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

/* Full-screen loading overlay */
.loading-overlay {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1040;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
    padding: 200% 0;
}

.loading-overlay-search {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1040;
}

/* Cancel request button style */
.abort-request-overlay {
    position: fixed;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1050;
    text-align: center;
    bottom: 15%;
    padding: 10px 15px;
}



/***************************************
 *** MULTISELECT CUSTOM STYLES START ***
 ***************************************/

.invalid > .multiselect__tags {
    border-color: #dc3545;
}

/*noinspection CssInvalidPseudoSelector*/
.invalid > .multiselect__tags:focus-within {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.valid > .multiselect__tags {
    border-color: #28a745;
}

/*noinspection CssInvalidPseudoSelector*/
.valid > .multiselect__tags:focus-within {
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

/*
 * Adds higher z-index to multiselect so no nearby elements can't override it
 * https://github.com/shentao/vue-multiselect/issues/662
 */
.multiselect--active {
    z-index: 1500;
}

/* Giving this class to multiselects so they wouldn't get stuck behind some items i.e., maps */
.high-z-index {
  z-index: 5000;
}

/* Vuetify adds 24px to ul and ol tags */
ul.multiselect__content {
  padding-left: 0;
}


.card-title--clickable:hover {
    cursor: pointer;
    opacity: 0.8;
}

/* Multiselect size to small like bootstrap's START */
.multiselect {
    min-height: 31px;
    /*height: 31px;*/
}

.multiselect__tags {
    min-height: 31px;
    /*height: 31px;*/
    padding: 4px 40px 4px 8px;
}

.multiselect__select {
    min-height: 29px;
    height: 29px;
}

.multiselect__single {
    padding: 0;
    margin-bottom: 0;
    font-size: 0.875rem;
}

.multiselect__placeholder {
    padding: 0;
    margin-bottom: 0;
}
/* Multiselect size to small like bootstrap's END */

/***************************************
 ***  MULTISELECT CUSTOM STYLES END  ***
 ***************************************/



/*******************************
 *** DATE CLEAR BUTTON START ***
 *******************************/

/* Not needed anymore, because vuejs-datepicker library was updated */
/*.date-clear-button {*/
/*position: absolute;*/
/*z-index: 5;*/
/*padding: 11px 15px;*/
/*right: 0;*/
/*}*/

.date-clear-button:hover {
    opacity: 0.7;
}

/*******************************
 ***  DATE CLEAR BUTTON END  ***
 *******************************/



/********************************
 *** EDIT IMAGE PREVIEW START ***
 ********************************/

.image-preview {
    max-height: 500px;
    max-width: 100%;
    padding: 0.25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: 0.25rem;
}

@media (max-width: 767px) {
    .image-preview {
        max-height: 500px;
        max-width: 100%;
    }

}

/********************************
 ***  EDIT IMAGE PREVIEW END  ***
 ********************************/


/* DATEPICKER STYLES */
.mx-datepicker {
  width: 100% !important;
}

/* Giving it 1 higher that map's zoom icons have */
.mx-datepicker-popup {
  z-index: 1001 !important;
}


/* CUSTOM STYLES */
  .table {
      background-color: #fff;
  }
  .table td {
	font-size: 0.9rem;
	padding: 0.25rem 0.4rem;
  }
 .table th {
		font-size: 0.9rem;
		padding: 0.5rem 0.4rem;
	  }
label {
	font-size: 0.9rem;
	/*padding: 0.20rem 0.4rem;*/
	color: #666;
}

/*
.bg-light {

	background-color: #666 !important;
	color: #fff !important;
}
*/


.fade-leave-active {
  transition: opacity .2s;
}
.fade-enter-active {
  transition: opacity .7s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0.1;
}

legend {
  font-size: large;
}

/* legend is used in headings where data is divided into blocks */
legend:hover {
  color: #007bff;
  cursor:pointer;
}

.modal {
  top:5% !important;
}

/*********************************
 *** PAGINATE AND EXPORT START ***
 *********************************/

@media (max-width: 767px) {
  .top-select-center {
    margin: 0 auto;
    width: unset;
  }

  .export-center {
    text-align: center;
    width: 100%;
  }

  .bottom-select-center {
    margin: 0 auto;
  }

  /* Overrides bootstrap rule */
  .pagination-center > .justify-content-end {
    justify-content: center !important;
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .top-select-center-xl {
    margin: 0 auto;
    width: unset;
  }

  .export-center-xl {
    text-align: center;
    width: 100%;
  }

  .bottom-select-center-xl {
    margin: 0 auto;
  }

  /* Overrides bootstrap rule */
  .pagination-center-xl > .justify-content-end {
    justify-content: center !important;
    width: 100%;
  }
}

/*********************************
 ***  PAGINATE AND EXPORT END  ***
 *********************************/

@media (max-width: 992px) {
  .modal-dialog-scrollable .modal-content {
    min-width: calc(110vh ) !important;
  }
}
@media (max-width: 623px) {
  .modal-dialog-scrollable .modal-content {
    min-width: 100% !important;
  }
}

/* Related data nav-link active style */
/*.nav-tabs > .nav-item > .nav-link.active {*/
/*  background-color: #007bff;*/
/*  color: #ffffff;*/
/*}*/



/********************
 *** EDITOR START ***
 ********************/

.ck.ck-content ul,
.ck.ck-content ul li {
  list-style-type: inherit;
}

.ck.ck-content ul li ul,
.ck.ck-content ul li ul li {
  list-style-type: circle;
}

.ck.ck-content ul li ul li ul,
.ck.ck-content ul li ul li ul li {
  list-style-type: square;
}

.ck.ck-content ol,
.ck.ck-content ol li {
  list-style-type: decimal;
}

.ck.ck-content ul,
.ck.ck-content ol {
  padding-left: 40px;
}

/********************
 ***  EDITOR END  ***
 ********************/
